@import url('https://fonts.googleapis.com/css2?family=Almarai&family=IBM+Plex+Sans&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;1,500&family=Roboto:wght@700&family=Teko:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Almarai', sans-serif;
    text-decoration: none;
}


/* ------------------------------------ SideNav Bar*/

.sidenav_container {
    display: flex;
}

main {
    height: 100vh;
    width: 100vw;
    background-color: #000;
}

.sidebar {
    background-color: rgb(38, 37, 37);
    color: #fff;
    height: 100vh;
    width: 250px;
}

.top_section {
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo {
    display: block;
    text-align: center;
    font-size: 25px;
    margin-right: 20px;
}

.closedLogo {
    display: none;
}

.bars {
    display: flex;
    font-size: 30px;
}

.link {
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: ease 1.5s;
    margin: 1rem 0rem 1rem 0rem;
}

.link:hover {
    background-color: #0de622;
    color: #000;
    transition: ease 0.8s;
}

.active {
    background-color: #0de622;
    color: #000;
}

.icon {
    font-size: 1.5rem;
}

.icon .link_text {
    font-size: 2.5rem;
}

/*--------------------------------------- Home */

.home_container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: #fff;
}

.home_info {
    margin: 1rem;
}

.home_info h1 {
    padding-left: 0.5rem;
    color: #E6220D;
    font-size: 1.5rem;
}

.home_info h2 {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.home_info h3 {
    margin: 0.5rem;
    font-size: 1rem;
    color: #E6220D;
}

.home_info p {
    font-size: 0.6rem;
    padding-left: 0.5rem;
}

.home_info .button_link {
    margin: 0.5rem;
    padding: 0.5rem 0.5rem;
    height: 35px;
    width: 130px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 52%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #000;
    background: #0de622;
    overflow: hidden;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .5);
}


.button_link span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .25rem;
    background: linear-gradient(to right, #333, #0de622);
    animation: button1 2s linear infinite;
}

.button_link span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: .25rem;
    background: linear-gradient(to bottom, #333, #0de622);
    animation: button2 2s linear infinite;
}

.button_link span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .25rem;
    background: linear-gradient(to left, #333, #0de622);
    animation: button3 2s linear infinite;
}

.button_link span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: .25rem;
    background: linear-gradient(to top, #333, #0de622);
    animation: button4 2s linear infinite;
}

.home_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    padding-top: 3rem;
}

.home_img img {
    height: 55vh;
    width: 70vw;
    border-radius: 10px;
}

@keyframes button1 {
    0% {
        transform: translate(-100%);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes button2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes button3 {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes button4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}


/*---------------------------------- Technologies */

.technologies_title {
    margin: 0.5rem;
    padding-right: 1.5rem;

    text-align: center;
    font-size: 1.2rem;
    color: #fff;
}


.technologies_subtitle {
    margin: 1rem;
    padding-right: 1.5rem;

    text-align: center;
    text-decoration: underline;
    font-size: 0.8rem;

    color: #E6220D;
}

.technologies {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.technologies img {
    height: 30px;
    width: 30px;
}

.logos {
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);

    margin: 1rem;
}


.logo_img {
    height: 32px;
    width: 32px;

    margin: 0.02vh 0.4vw;
    padding: 2px 2px;

    text-decoration: none;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: #000;

    overflow: hidden;
    transition: .5s;

    box-shadow: 0 2rem 5rem rgba(0, 0, 0, .5);
}


.technologies .logo_img span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: .15rem;
    background: linear-gradient(to right, #333, #0de622);
    animation: linea1 2s linear infinite;
}

.technologies .logo_img span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: .15rem;
    background: linear-gradient(to bottom, #333, #0de622);
    animation: linea2 2s linear infinite;
}

.technologies .logo_img span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: .15rem;
    background: linear-gradient(to left, #333, #0de622);
    animation: linea3 2s linear infinite;
}

.technologies .logo_img span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: .15rem;
    background: linear-gradient(to top, #333, #0de622);
    animation: linea4 2s linear infinite;
}


@keyframes linea1 {
    0% {
        transform: translate(-100%);
    }

    100% {
        transform: translate(100%);
    }
}

@keyframes linea2 {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes linea3 {
    0% {
        transform: translate(100%);
    }

    100% {
        transform: translate(-100%);
    }
}

@keyframes linea4 {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

/*--------------------------------- Proyects */

.proyects {
    --colorTexto: #fff;

    margin: 1%;
    padding-left: 5vw;

    color: var(--colorTexto);
}

.proyects h1 {
    margin: auto;
    padding-right: 10vw;

    font-size: 1.2rem;
    text-align: center;

}

.proyects_body {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);
}

.proyect_container .proyect_container_title {
    margin: 1.5vh 1.5vw;
    padding: 0.4rem;

    font-size: 1rem;
    text-decoration: underline;
}

.proyect_container img {
    height: 5rem;
    width: 7rem;

    margin: 2vh 2vw;
    padding-right: 0.5rem;
}

.proyect_container .proyect_info {
    display: grid;
    grid-template-columns: repeat(2, .2fr);

    margin: 0.5rem 2rem;

    font-size: 1.5rem;
}

.proyect_info a {
    margin: 0.2rem;
    color: #fff
}

.proyect_info a:hover {
    color: #0de622;
}

/*------------------------------------ About me*/

.about_container {
    --fontColor: #fff;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    color: var(--fontColor);
}

.about_title {
    margin: 0.5rem;

    font-size: 1.5rem;
    text-decoration: underline;
}

.about_description {
    margin: 0.8rem;
    font-size: 1.1rem;
}

.about_description p {
    margin-top: 0.3rem;
}

.about_description p::first-letter {
    margin-left: 0.8rem;
}

.about_subtitle {
    margin: 1rem;
    padding-top: 0.5rem;

    text-decoration: underline;
    font-size: 1.5rem;
}

.skills_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 2.8rem;
}

.skills_description h3 {
    font-size: 1.2rem;
    position: absolute;
}

.border {
    color: #000;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        -1px 1px 0 #fff;
}

.wavy {
    color: #E6220D;
    text-transform: uppercase;
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave {

    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                16% 65%,
                35% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

/*------------------------------------ Contact */


.contact {
    --colorContact: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    padding: 0.5rem;

    color: var(--colorContact);
}

.contact_title {
    margin: 0.5rem;

    font-size: 1.2rem;
    text-decoration: underline;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 65vh;
    width: 70vw;

    margin: 1rem;
    padding: 0.5rem 0 0 6vw;

    border: solid 3px #fff;
    border-radius: 10px;
}

.contact_form .campos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact_form .campos .campo {
    display: flex;
    flex-direction: column;

    height: 3.5vh;
    width: 50vw;

    margin: 20px;
}

textarea {
    height: 15vh;
    width: 50vw;

    margin: 1rem 1.3rem;
}

.form_button {
    height: 35px;
    width: 100px;

    margin: 0.5rem 1.2rem;

    font-size: 1.2rem;
    color: #fff;

    background-color: #0de622;
    border-radius: 10px;

    cursor: pointer;
}

.form_button:hover {
    color: #000;
    font-weight: 900;

    background-color: #fff;
    border: solid 4px #0de622;
}

.icons {
    margin: 1.5rem;
    padding-left: 1vw;

    font-size: 1.9rem;
}

.icons a {
    margin: 20px;

    text-decoration: none;

    color: #fff;
}


@media(min-width: 769px) {

    .sidenav_container {
        display: flex;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        margin-right: 20px;
    }

    .closedLogo {
        display: none;
    }

    .bars {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .closeBar:hover {
        background-color: #0de622;
        color: #000;
        border-radius: 2px;
        cursor: pointer;
    }

    .link {
        display: flex;
        color: #fff;
        padding: 10px 15px;
        gap: 15px;
        transition: ease 1.5s;
        margin: 1rem 0rem 1rem 0rem;
    }

    .link:hover {
        background-color: #0de622;
        color: #000;
        transition: ease 0.8s;
    }

    .active {
        background-color: #0de622;
        color: #000;
    }

    .icon {
        font-size: 1.5rem;
    }

    .icon .link_text {
        font-size: 2.5rem;
    }

    /*--------------------------------------- Home */

    .home_info_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .home_info {
        margin-top: 5rem;
        text-align: center;
    }

    .info_text {
        margin-top: 8rem;
    }

    .home_info h1 {
        font-size: 4.5rem;
    }

    .home_info h2 {
        font-size: 3.2rem;
        margin: 0.5rem;
    }

    .home_info h3 {
        font-size: 1.6rem;
        margin: 0.2rem;
    }

    .home_info p {
        font-size: 1rem;
    }

    .home_info .button_link {
        position: absolute;
        left: 31%;
        bottom: 15%;
    }

    .home_info .button_link:hover {
        color: #0de622;
        background: #333;
        cursor: pointer;
    }

    .home_img {
        margin-top: 0.2rem;
        padding-top: 0.5rem;
    }

    .home_img img {
        height: 70vh;
        width: 40vw;
        border-radius: 10px;
    }

    /*---------------------------------- Technologies */

    .technologies_title {
        margin: 0.8rem;

        text-align: center;

        font-size: 2.5rem;
        color: #fff;
    }


    .technologies_subtitle {
        margin: 2rem;
        padding-right: 9rem;

        font-size: 1.2rem;
        text-align: center;

        color: #E6220D;
    }

    .technologies {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .technologies img {
        height: 55px;
        width: 55px;
    }

    .logos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        margin: 0.2rem;
        padding: 0 1rem 0.5rem;

    }


    .logo_img {
        height: 60px;
        width: 60px;

        margin: 20px 10px;
        padding: 2px 3px;

        text-decoration: none;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        color: #000;

        overflow: hidden;
        transition: .5s;

        box-shadow: 0 2rem 5rem rgba(0, 0, 0, .5);
    }

    /*--------------------------------- Proyects */

    .proyects h1 {
        padding-right: 15rem;

        font-size: 1.5rem;
        text-align: center;
    }

    .proyects_body {
        display: grid;
        grid-template-columns: repeat(3, 0.5fr);

        margin: 1rem;
        padding-right: 3rem;
    }

    .proyect_container .proyect_container_title {
        margin: 0.5rem;
        padding-left: 2rem;

        font-size: 1.2rem;
        text-decoration: underline;
    }

    .proyect_container img {
        height: 200px;
        width: 200px;
    }

    .proyect_container .proyect_info {
        display: grid;
        grid-template-columns: repeat(2, .2fr);

        margin: 0.5rem 4rem;

        font-size: 2rem;
    }

    .proyect_info a {
        margin: 0.6rem;
        color: #fff
    }

    .proyect_info a:hover {
        color: #0de622;
    }

    /*------------------------------------- About */

    .about_container {
        margin: 1rem;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }

    .about_title {
        font-size: 2.5rem;
        color: #E6220D;
    }

    .about_subtitle {
        font-size: 2rem;
        color: #E6220D;
    }

    .about_description {
        font-size: 1.6rem;
    }


    /*------------------------------------ Contact */

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: c;
    }

    .contact_title {
        margin: 0.8rem;
        padding-left: 8rem;

        color: #E6220D;
        font-size: 2rem;
    }

    .contact_form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70vh;
        width: 70vw;

        margin-left: 4rem;

        border: solid 3px #fff;
        border-radius: 10px;
    }

    .contact_form .campos {
        display: flex;
        flex-direction: column;
    }

    .contact_form .campo {
        margin: 0.3rem;
        padding: 0.2rem;
    }


    .campo label {
        text-align: center;
    }

    textarea {
        margin: 1rem;
    }

    .form_button {
        height: 50px;
        width: 100px;

        margin: 20px 60%;

        font-size: 1.2rem;
        color: #fff;

        background-color: #0de622;
        border-radius: 10px;

        cursor: pointer;
    }

    .form_button:hover {
        color: #000;
        font-weight: 900;

        background-color: #fff;
        border: solid 4px #0de622;
    }

    .icons {
        margin: 2rem;
        padding-left: 9rem;

        font-size: 1.9rem;
    }

    .icons a {
        margin: 20px;

        text-decoration: none;

        color: #fff;
    }

    .icons a:hover {
        color: #E6220D;
    }
}