/*!*********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/App.css ***!
  \*********************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Almarai&family=IBM+Plex+Sans&family=Poppins:wght@700&family=Raleway:ital,wght@0,300;1,500&family=Roboto:wght@700&family=Teko:wght@300&display=swap);
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/css/App.css (1) ***!
  \*************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almarai", sans-serif;
  text-decoration: none;
}

/* ------------------------------------ SideNav Bar*/
.sidenav_container {
  display: flex;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: #000;
}

.sidebar {
  background-color: rgb(38, 37, 37);
  color: #fff;
  height: 100vh;
  width: 250px;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  display: block;
  text-align: center;
  font-size: 25px;
  margin-right: 20px;
}

.closedLogo {
  display: none;
}

.bars {
  display: flex;
  font-size: 30px;
}

.closeBar:hover {
  background-color: #0de622;
  color: #000;
  border-radius: 2px;
  cursor: pointer;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: ease 1.5s;
  margin: 1rem 0rem 1rem 0rem;
}

.link:hover {
  background-color: #0de622;
  color: #000;
  transition: ease 0.8s;
}

.active {
  background-color: #0de622;
  color: #000;
}

.icon {
  font-size: 1.5rem;
}

.icon .link_text {
  font-size: 2.5rem;
}

/*--------------------------------------- Home */
.home_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 6span;
  grid-gap: 50px;
  color: #fff;
}

.home_info {
  margin-top: 250px;
  text-align: center;
}

.home_info h1 {
  font-size: 4.5rem;
}

.home_info h2 {
  font-size: 3.2rem;
  margin: 20px;
}

.home_info h3 {
  font-size: 1.6rem;
  margin: 5px;
}

.home_info .button_link {
  margin-top: 50px;
  padding-top: 8px;
  height: 35px;
  width: 130px;
  text-decoration: none;
  position: absolute;
  bottom: 10%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #000;
  background: #0de622;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
}

.home_info .button_link:hover {
  color: #0de622;
  background: #333;
  cursor: pointer;
}

.button_link span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(to right, #333, #0de622);
  animation: button1 2s linear infinite;
}

.button_link span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.25rem;
  background: linear-gradient(to bottom, #333, #0de622);
  animation: button2 2s linear infinite;
}

.button_link span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.25rem;
  background: linear-gradient(to left, #333, #0de622);
  animation: button3 2s linear infinite;
}

.button_link span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.25rem;
  background: linear-gradient(to top, #333, #0de622);
  animation: button4 2s linear infinite;
}

.home_img {
  margin-top: 80px;
}

.home_img img {
  border-radius: 10px;
}

.home_icons {
  margin-left: 190px;
  padding-left: 100px;
  font-size: 1.9rem;
}

.home_icons a {
  text-decoration: none;
  color: #fff;
}

.home_icons a:hover {
  color: #0de622;
}

@keyframes button1 {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes button2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes button3 {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes button4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/*---------------------------------- Technologies */
.technologies_title {
  margin: 100px;
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
}

.technologies_subtitle {
  margin: 20px;
  text-align: center;
  color: #fff;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.technologies img {
  height: 55px;
  width: 55px;
}

.logos {
  margin: 5px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.logo_img {
  height: 60px;
  width: 60px;
  margin: 20px 10px;
  padding: 2px 3px;
  text-decoration: none;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #000;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
}

.technologies .logo_img span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background: linear-gradient(to right, #333, #0de622);
  animation: linea1 2s linear infinite;
}

.technologies .logo_img span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0.15rem;
  background: linear-gradient(to bottom, #333, #0de622);
  animation: linea2 2s linear infinite;
}

.technologies .logo_img span:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0.15rem;
  background: linear-gradient(to left, #333, #0de622);
  animation: linea3 2s linear infinite;
}

.technologies .logo_img span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.15rem;
  background: linear-gradient(to top, #333, #0de622);
  animation: linea4 2s linear infinite;
}

@keyframes linea1 {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(100%);
  }
}
@keyframes linea2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes linea3 {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}
@keyframes linea4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/*--------------------------------- Proyects */
.proyects {
  --colorTexto: #fff;
  margin: 30px;
  padding-left: 180px;
  color: var(--colorTexto);
}

.proyects h1 {
  padding-right: 210px;
  text-align: center;
}

.proyects_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.proyect_container .proyect_container_title {
  margin: 25px;
  text-decoration: underline;
}

.proyect_container img {
  height: 200px;
  width: 200px;
}

.proyect_container .proyect_info {
  margin: 10px 50px;
  font-size: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 0.2fr);
}

.proyect_info a {
  color: #fff;
}

.proyect_info a:hover {
  color: #0de622;
}

/*------------------------------------ Contact */
.contact {
  --colorContact: #fff;
  margin-top: 100px;
  text-align: center;
  color: var(--colorContact);
}

.contact_title {
  margin: 40px;
  padding-left: 30px;
  text-decoration: underline;
}

.contact_form {
  height: 60vh;
  width: 60vw;
  margin-left: 300px;
  border: solid 3px #fff;
  border-radius: 10px;
}

.contact_form .campos {
  margin-left: 170px;
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
}

.campo input {
  height: 25px;
  width: 250px;
}

.contact_form .campos .campo {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

textarea {
  margin-top: 20px;
}

.form_button {
  height: 50px;
  width: 100px;
  margin: 20px 46%;
  font-size: 1.2rem;
  color: #fff;
  background-color: #0de622;
  border-radius: 10px;
  cursor: pointer;
}

.form_button:hover {
  color: #000;
  font-weight: 900;
  background-color: #fff;
  border: solid 4px #0de622;
}

.icons {
  margin: 30px;
  padding-left: 50px;
  font-size: 1.9rem;
}

.icons a {
  margin: 20px;
  text-decoration: none;
  color: #fff;
}

.icons a:hover {
  color: #0de622;
}

@media (max-width: 768px) {
  /* ----------------- Home */
  .home_container {
    display: block;
  }
  .home_info {
    margin-top: 30px;
    padding: 15px;
    text-align: center;
  }
  .home_info h1 {
    font-size: 1.8rem;
  }
  .home_info h2 {
    font-size: 1.5rem;
    margin: 10px;
  }
  .home_info h3 {
    font-size: 1.2rem;
    margin: 7px;
  }
  .home_info p {
    font-size: 0.6rem;
  }
  .home_img {
    margin: 10px;
    padding-top: 5px;
  }
  .home_img img {
    height: 280px;
    width: 210px;
  }
}
